.doctorlist .doctor-card {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px #ccc;
}

.doctorlist .doctor-card .doctor-card-infos {
    display: flex;
    align-items:flex-start;
    margin: 10px;
    margin-top: 70px;
    width: 60%;
}

.doctorlist .doctor-card .doctor-card-infos img {
    width: 100px;
    margin-right: 15px;
}

.doctorlist .doctor-card .doctor-card-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.doctorlist .doctor-card .doctor-card-details p {
    margin-bottom: 10px;
}

.doctorlist .doctor-card .doctor-card-details .name {
    font-weight: bold;
}

.doctorlist .doctor-card .doctor-card-details .speciality {
    font-weight: normal;
    font-size: 14px;
}

.doctorlist .doctor-card .doctor-card-details button {
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #284360;
    border: none;
    cursor: pointer;
}

.doctorlist .doctor-card .doctor-card-details button:hover {
    background-color: #1b2c3f;
}

.doctorlist .doctor-card .doctor-card-planning {
    width: 100%;
}