
  .InfoPatient .top-wrap{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    
  }

  .InfoPatient .bottom-wrap{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }


  /* Style pour les informations personnelles */
  .InfoPatient .personalInformation{
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 80px;
    width: 600px;
    height: 300px;
    transition: height 0.4s ease-in-out;
  }
  .InfoPatient .personalInformation.active {
    height: 450px;
  }

  .InfoPatient .personalInformation h3{
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    margin-top: 15px;
  }

  .InfoPatient .personalInformation p{
    text-align: center;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight:bold;
  }

  .InfoPatient .personalInformation input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }

  .InfoPatient .personalInformation .info-lastName-firstName {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
  }

  .InfoPatient .personalInformation .secu-adress {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  }

  .InfoPatient .secu-adress .info-secu {
    margin-top: 24px;
  }

  .InfoPatient .personalInformation .infoPatient-adress{
    margin-top: -12px;
  }

  .InfoPatient .personalInformation .infoPatient-adress input {
    display: flex;
    flex-direction: column;
  }

  .InfoPatient .infoPatient-adress .adress-connue-inconnue {
    display: flex;
    flex-wrap: wrap;
    width: 216px;
  }

  .InfoPatient .infoPatient-adress  .adress-connue-inconnue p{
    margin-right: 30px;
    margin-bottom: 8px;
  }

  .InfoPatient .infoPatient-adress  .adress-connue-inconnue input[type="radio"] {
    margin-left: 20px;
    margin-right: 15px;
    margin-bottom: 8px;
  }

  .InfoPatient .infoPatient-adress .info-nouvelle-adress {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.8s ease-in-out;

  }

  .InfoPatient .infoPatient-adress .info-nouvelle-adress.active{
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    opacity: 1;
    visibility: visible;
  }

  .InfoPatient .infoPatient-adress .info-nouvelle-adress.active input{
    margin-bottom: 10px;
  }

  .InfoPatient .infoPatient-adress .info-adress-connue.hide{
    display: none;
  }

  .InfoPatient .infoPatient-adress .info-adress-connue {
    display: flex;
    flex-direction: column;
    margin-top: -151px;
  }

/* Style pour les informations médicale */
.InfoPatient .medicalInformation{
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
    width: 600px;
    height: 300px;
  }

  .InfoPatient .medicalInformation div{
    display: flex;
  }

  .InfoPatient .medicalInformation input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }

  .InfoPatient .medicalInformation p{
    text-align: center;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight:bold;
  }

  .InfoPatient .medicalInformation h3{
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    margin-top: 15px;
  }

  .InfoPatient .medicalInformation .info-medic-sexe-dateNaissance{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  }

  .InfoPatient .medicalInformation .info-medic-sexe-dateNaissance .infoPatient-medi-sexe {
    display: flex;
    text-align: space-between;
    width: 216px;
    padding-right: 30px;
  }
  .InfoPatient .medicalInformation .info-medic-sexe-dateNaissance .infoPatient-medi-sexe p{
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .InfoPatient .medicalInformation .info-medic-sexe-dateNaissance .infoPatient-medi-sexe input[type="radio"] {
    margin-top: 10px;
  }

  .InfoPatient .medicalInformation .info-medic-sexe-dateNaissance .info-medic-date {
    margin-right: 30px;
  }

  .InfoPatient .medicalInformation .info-medic-poids-taille{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  }

  .InfoPatient .medicalInformation .info-medic-poids-taille input {
    margin-top: 10px;
  }

  /* Style pour les informations de connexion */
  .InfoPatient .myAccount{
    background-color: #fff;
    margin-top: 80px;
    border-radius: 10px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 600px;
    height: 200px;
  }

  .InfoPatient .myAccount h3{
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    margin-top: 15px;
  }

  .InfoPatient .myAccount .login{
    display: flex;
    justify-content: space-around;
    margin-top: 45px;
  }

  .InfoPatient .myAccount .login p{
    text-align: center;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight:bold;
  }

  .InfoPatient .myAccount .login input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;

  }


  .InfoPatient .button-div{
    margin-top: 80px;
    border-radius: 10px;
    padding: 10px;
    width: 600px;
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
  }


  /* Style pour supprimer son compte */
  .InfoPatient .deleteAccount{
    background-color: #fff;
    border-radius: 10px;
    margin-top: 100px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .InfoPatient .deleteAccount .btn{
    height: 80%;
    width: 98%;
    border: 2px solid rgba(213, 31, 31, 0.626);
    color: rgba(213, 31, 31, 0.689);
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    transition: 0.2s ease-in-out;
  }

  .InfoPatient .deleteAccount .btn:hover{
    border: 2px solid rgb(238, 23, 23);
    color: rgb(238, 23, 23);
  }

  /* Style pour valider les informations saisies */

  .InfoPatient .btn.modif-info{
    padding: 15px 25px;
    border: none;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background-color: #284360de;
    outline: none;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    transition: 0.2s ease-in-out;
  }

  .InfoPatient .btn.modif-info:hover{
    background-color: #284360;
  }


  @media screen and (max-width:670px){
    .InfoPatient .personalInformation{
        width: 90vw;
        margin-left: 8px;
        margin-right: 8px;
    }
    .InfoPatient .medicalInformation{
        width: 90vw;
        margin-left: 8px;
        margin-right: 8px;
    }
    .InfoPatient .myAccount{
        width: 90vw;
        margin-left: 8px;
        margin-right: 8px;
    }
    .InfoPatient .button-div{
      width: 90vw;
      margin-left: 0px;
      margin-right: 0px;
    }
}