.BookingAppt{
    background-color: #fff;
    border-radius: 10px;
    min-width: 320px;
}

.BookingAppt .thead{
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.BookingAppt .button-week-left,
.BookingAppt .button-week-right {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color:  #3d638b;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.BookingAppt .button-week-left:hover,
.BookingAppt .button-week-right:hover{
    transform: scale(1.2);
}
  
.BookingAppt th, .BookingAppt td {
      padding: 10px;
}

.BookingAppt .booked{
    height: 30px;
    width: 80px;
    margin: 4px 0;
    border-radius:4px;
    border-color: transparent;
    background-color: #f7f7f7;
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
    cursor: not-allowed;
    user-select: none;
    color: rgb(108, 108, 108);
    text-decoration: line-through;
}

.BookingAppt .not-booked{
    height: 30px;
    width: 80px;
    margin: 4px 0;
    border-radius:4px;
    border-color: transparent;
    background-color: #f7f7f7;
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
    cursor: pointer;
}


.BookingAppt .not-booked:hover{
    background-color: #e7e7e7;
}

.BookingAppt tr:hover {
    transition: none;
}

.BookingAppt th {
    background-color: transparent;
    color: #000000;
    font-size: 13px;
}


.BookingAppt .table-booking tr:hover {
    background-color: transparent;
}

.BookingAppt .table-booking{
    padding: 10px;
    box-sizing: border-box;
}

.BookingAppt  .table-booking .cell-day {
    text-align: center;
}
