.DoctorPage .booking-container {
    float: right;
    margin-left: 840px;
    transition: transform 0.3s ease;
}

.DoctorPage {
    overflow-y: hidden;
}

.DoctorPage .infoDoctor {
    display: flex;
    background-color: aliceblue;
    padding: 10px;
    margin-top: 30px;
    margin-left: 30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 43%;
    position: absolute;
}

.DoctorPage .extraInformations {
    background-color: #ffffff;
    padding: 10px;
    margin-top: 175px;
    margin-left: 30px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 43%;
    position: absolute;
    height: 480px;
}

.DoctorPage .imgDoctor img{
    height: 100px;
    margin-left: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}

@media only screen and (max-width: 1550px) {
    .DoctorPage .booking-container {
      float: none;
      margin-left: 0;
      transform: scale(0.9);
    }
  
    .DoctorPage .infoDoctor,
    .DoctorPage .extraInformations {
      width: 600px;
      position: static;
      margin: 0;
    }

    .DoctorPage .infoDoctor {
        margin-top: 30px;
    }

    .DoctorPage {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 1000px) {
    /* appliquer une transformation d'échelle plus importante pour réduire encore plus la taille de l'élément */
    .DoctorPage .booking-container {
        float: none;
        margin-left: 0;
        transform: scale(0.8);
    }

    .DoctorPage .infoDoctor,
    .DoctorPage .extraInformations {
      width: 500px;
      position: static;
      margin: 0;
    }

    .DoctorPage .infoDoctor {
        margin-top: 30px;
    }

    .DoctorPage {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 700px) {
    /* appliquer une transformation d'échelle plus importante pour réduire encore plus la taille de l'élément */
    .DoctorPage .booking-container {
        float: none;
        margin-left: 0;
        transform: scale(0.7);
    }
    .DoctorPage .infoDoctor,
    .DoctorPage .extraInformations {
      width: 400px;
      position: static;
      margin: 0;
    }

    .DoctorPage .infoDoctor {
        margin-top: 30px;
    }

    .DoctorPage {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    /* appliquer une transformation d'échelle plus importante pour réduire encore plus la taille de l'élément */
    .DoctorPage .booking-container {
        float: none;
        margin-left: 0;
        transform: scale(0.6);
    }
}

.DoctorPage .informations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 7%;
    margin-top: -3%;
}

.DoctorPage .personalInformations p {
    margin-top: 15px;
}

.DoctorPage .extraInformations p {
    margin-top: 8px;
    margin-left: 30px;
}

.DoctorPage .img-price,
.DoctorPage .img-info,
.DoctorPage .img-contact  {
    height: 18px;
    margin-top: 17px;
}


.DoctorPage .title-price,
.DoctorPage .title-contact{
    display: flex;
    align-items: center;
}

.DoctorPage .title-informations{
    display: flex;
    align-items: center;
}

.DoctorPage .title,
.DoctorPage .title-info,
.DoctorPage .title-cont{
    margin-left: 10px;
    margin-top: 15px;
    color: #64c9c3;
    font-weight : bold;
}

.DoctorPage .priceAndName p:last-child {
    margin-left: 5px;
    font-weight: bold;
}

.DoctorPage .price {
    font-weight : bold;
}

.DoctorPage .priceAndName {
    display: flex;
}

.DoctorPage .doctor-informations {
    font-size: 14px;
    text-align: justify;
    line-height: 2; /* ajustez la valeur selon vos préférences */
    margin-bottom: 10px; 
    margin-right: 20px;
}
