
.infoDoctor{
    background-color: #ffffff;
    height: 643px;
    max-width: 650px;
    min-width: 420px;
    border-radius: 10px;
}

.infoDoctor .mainInformations{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.infoDoctor .imgDoctor img{
    height: 100px;
    margin-top: 15px;
    margin-left: 25px;
    margin-bottom: 15px;
    margin-right: 30px;
}

.infoDoctor .informations p{
    padding: 8px;
}

.infoDoctor .extraInformations{
    height: 489px;
    padding: 10px;
    overflow-y: auto;
}

.infoDoctor .extraInformations::-webkit-scrollbar {
    width: 5px;
    background-color: rgb(222, 233, 243);
    border-bottom-right-radius: 10px;
}
      
.infoDoctor .extraInformations::-webkit-scrollbar-thumb {
    background-color: rgb(193, 210, 225);
    border-radius: 4px;
}

.infoDoctor .title-price,
.infoDoctor .title-informations,
.infoDoctor .title-contact{
    display: flex;
    align-items: center;
    margin-top:25px;
    margin-bottom: 5px;
}

.infoDoctor .extraInformations .img-title {
    height: 18px;
}

.infoDoctor .extraInformations .title{
    margin-left: 10px;
    color: #64c9c3;
    font-weight : bold;
}

.infoDoctor .extraInformations .priceAndName,
.infoDoctor .extraInformations .doctor-informations,
.infoDoctor .extraInformations .doctor-contact {
    padding: 3px;
    margin-left: 27px;
    margin-right: 5px;
}

.infoDoctor .extraInformations .price {
    font-weight : bold;
}

