.showPatients h2 {
    margin: 20px;
}

.showPatients table {
    background-color: white;
    border-collapse: collapse;
    margin: 20px;
    width: 95%;
    border-radius: 20px;
}

.showPatients table thead th:nth-child(6) {
    border-top-right-radius: 20px;
    background-color: #284360;
    color: #fff;
}

.showPatients table thead th:nth-child(1) {
    border-top-left-radius: 20px;
    background-color: #284360;
    color: #fff;
}

.showPatients table thead th:nth-child(2),
.showPatients table thead th:nth-child(3),
.showPatients table thead th:nth-child(4),
.showPatients table thead th:nth-child(5) {
    background-color: #284360;
    color: #fff;
}

.showPatients table tbody tr {
    background-color: transparent;

}


.showPatients table tbody tr:not(:last-child) td {
    border-bottom: 1px solid #6b6868cc;
}

.showPatients table tbody tr td button {
    background-color: #284360;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.showPatients table tbody tr td button:hover{
    background-color: #1b2c3f;
}

.showPatients #page-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.showPatients #page-numbers li {
    list-style: none;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    color: #284360;
    padding: 5px 10px;
    transition: all 0.3s ease-in-out;
}

.showPatients #page-numbers li:hover {
    color: #1b2c3f;
}