.public-nav {
    background: #284360;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-width: 430px;
}

.public-nav .logo-public{
    height: 65px;
}

.public-nav ul{
    text-align: right;
    margin: 0 40px;
}

.public-nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 40px;
}

.public-nav .Login{
    font-size: 18px;
    transition: color .4s ease-in-out, box-shadow .4s ease-in-out;
    padding: 8px;
    border-radius: 10px;
    color: #FEFEFE;
    text-decoration: none;
}

.public-nav .Login:hover{
    box-shadow: inset 150px 0 0 0 aliceblue;
    color: #284360;
    padding: 8px;
    border-radius: 10px;
}