.CalendarPatient {
    width: 90%;
    margin: auto;
}

.Calendar {
    width: 100%;
    margin: auto;
}

.showInfoAppt {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.5);
}

.showInfoAppt .modalAppt .redirect-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.modalAppt {
    position: relative;
    width: 80%;
    max-width: 600px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modalAppt p {
    padding: 8px;
}

.modalAppt+* {
    position: relative;
    /* z-index: 1; */
}

.patient-document {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.patient-document p {
    margin: 0;
}

.downloadDoc {
    color: #284360;
    cursor: pointer;
}

.downloadDoc:hover {
    color: #1b2c3f;
    text-decoration: none;
}

.goToMedicalFile,
.goToConsultation {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #284360;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 50%;
}

.CalendarPatient .cancelAppt {
    margin-top: 10px;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    font-size: 15px;
    text-align: center;
    line-height: 1.2;
    text-decoration: none;
    cursor: pointer;
    background-color: #284360;
    color: #fff;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.CalendarPatient .cancelAppt:hover {
    background-color: #1b2c3f;
}

.goToMedicalFile:hover,
.goToConsultation:hover {
    background-color: #1b2c3f;
}

.showInfoAppt .closeInfoPatient {
    position: absolute;
    border-radius: 4px;
    border: none;
    padding: 8px;
    top: 10px;
    right: 10px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.2;
    background-color: #284360;
    color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.closeInfoPatient:hover {
    background-color: #1b2c3f;
}

.addedDocument {
    text-decoration: underline;
}