@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.DoctorAccount {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.DoctorAccount .PersonalInfos {
    background-color: #ffffff;
    padding: 10px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    width: 600px;
    height: 300px;
}

.DoctorAccount .userInformation {
    background-color: #ffffff;
    padding: 10px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    width: 600px;
    height: 200px;
    position: relative;
}

.DoctorAccount .PersonalInfos .title,
.DoctorAccount .userInformation .title-info-perso,
.DoctorAccount .PriceInfo .title-info-pro {
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    margin-top: 15px;
}

.DoctorAccount .PersonalInfos .name{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.DoctorAccount .PriceInfo {
    position: relative;
    background-color: #ffffff;
    padding: 10px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
    width: 600px;
    height: 570px;
}

@media screen and (max-width:670px){
    .DoctorAccount .PersonalInfos{
        width: 90vw;
    }
    .DoctorAccount .userInformation{
        width: 90vw;
    }
    .DoctorAccount .PriceInfo{
        width: 90vw;
    }
}

.DoctorAccount .PersonalInfos .gender-speciality {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.DoctorAccount .gender-speciality .doctorSpeciality input{
    cursor: not-allowed;
}

.DoctorAccount .name p,
.DoctorAccount .gender-speciality p {
    text-align: center;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight:bold;
}

.DoctorAccount .login  {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.DoctorAccount .login p {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight:bold;
    text-align: center;
}

.DoctorAccount .PersonalInfos input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.DoctorAccount .userInformation input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.DoctorAccount .PersonalInfos .doctorGender{
    display: flex;
    text-align: space-between;
    width: 216px;
}

.DoctorAccount .PersonalInfos .doctorGender p{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.DoctorAccount .PersonalInfos .doctorGender input{
    margin-top: 10px;
}

.DoctorAccount .userInformation button {
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    background-color: #284360;
    border: none;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    right:11px;
    bottom: 15px;
    position: absolute;
}

.DoctorAccount .userInformation button:hover {
    background-color: #1b2c3f;
}

.DoctorAccount .PersonalInfos button:hover {
    background-color: #1b2c3f;
}

.DoctorAccount .PersonalInfos button {
    position: absolute;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    background-color: #284360;
    border: none;
    cursor: pointer;
    right:1px;
    top: 15px;
}

.DoctorAccount .PriceInfo .div-modif-pro-doctor button {
    position: absolute;
    justify-content: flex-end;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    background-color: #284360;
    border: none;
    cursor: pointer;
    bottom: 15px;
    right: 10px;
}

.DoctorAccount .PriceInfo .div-modif-pro-doctor button:hover {
    background-color: #1b2c3f;
}

.DoctorAccount .div-modif-info-doctor {
    position: relative;
}

.DoctorAccount .PriceInfo .title-tarif{
    color: #64c9c3;
    font-weight : bold;
    padding-top: 30px;
    padding-left: 20px;
}

.DoctorAccount .tableau-tarif{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.DoctorAccount table {
    background-color: rgb(255, 255, 255);
    border-collapse: collapse;
    margin-right: 10px;
    box-shadow: 0 0 0 0.6px #bdc4cd;
    border-radius: 14px;
}

@media screen and (min-width:670px){
    .DoctorAccount table{
        width: 500px;
    }
}

@media screen and (max-width:670px){
    .DoctorAccount table{
        width: 85%;
    }
}


.DoctorAccount table thead th:nth-child(2) {
    border-top-right-radius: 14px;
    background-color: #284360;
    color: #fff;
    padding: 8px;
}

.DoctorAccount table thead th:nth-child(1) {
    border-top-left-radius: 14px ;
    background-color: #284360;
    color: #fff;
    padding: 8px;
}

.DoctorAccount table tbody tr:not(:last-child) td {
    border-bottom: 1px solid #6b6868cc;
}


.DoctorAccount table tbody tr td button {
    background-color: #284360;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.DoctorAccount .tableau-tarif table tbody tr{
    text-align: center;
}

.DoctorAccount .tableau-tarif table tbody tr td:nth-child(1) input {
    padding: 3px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 180px;
    text-align: center;
}

.DoctorAccount .tableau-tarif table tbody tr td:nth-child(2) input{
    padding: 3px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 80px;
    text-align: center;
}


.DoctorAccount .tableau-tarif {
    max-height: 350px;
    overflow-y: auto;
}

.DoctorAccount textarea {
    font-family: 'Poppins', sans-serif;
    max-height: 80px;
    min-height: 20px;
    min-width: 300px;
    overflow-y: auto;
    margin-top: 20px;
    margin-left: 20px;
    max-width: 450px;
    border-radius: 5px;
    border: 1px solid #f3f3f373;
    padding: 10px;
    background-color: #f3f3f337;
    white-space: pre-wrap;
    word-wrap: break-word;
}