
.showPatients h2 {
    margin: 30px;
}

.showPatients .table-container{
    display: flex;
    justify-content: center;
}

.showPatients .table-container table {
    background-color: white;
    border-collapse: collapse;
    width: 98%;
    border-radius: 20px;
    
}

.showPatients .table-container table thead th {
    text-align: left;
    padding: 10px;
}

.showPatients .table-container table tbody td {
    text-align: left;
    padding: 10px;
    word-wrap: break-word;
}

.showPatients .table-container table thead th:nth-child(1),
.showPatients .table-container table thead th:nth-child(2),
.showPatients .table-container table thead th:nth-child(3),
.showPatients .table-container table thead th:nth-child(4),
.showPatients .table-container table thead th:nth-child(5),
.showPatients .table-container table thead th:nth-child(6){
    background-color: #284360;
    color: #fff;
    font-size: clamp(13px, calc(1.6vw + 0.5vw), 17px);
}

.showPatients .table-container table thead th:nth-child(1) {
    border-top-left-radius: 20px;
}

.showPatients .table-container table thead th:nth-child(6) {
    border-top-right-radius: 20px;
}

.showPatients .table-container table tbody tr:not(:last-child) td {
    border-bottom: 1px solid #6b6868cc;
}

.showPatients .table-container table tbody tr td:nth-child(1),
.showPatients .table-container table tbody tr td:nth-child(2),
.showPatients .table-container table tbody tr td:nth-child(3),
.showPatients .table-container table tbody tr td:nth-child(4),
.showPatients .table-container table tbody tr td:nth-child(5),
.showPatients .table-container table tbody tr td:nth-child(6){
    font-size: clamp(13px, calc(1.6vw + 0.5vw), 17px);
}

.showPatients .table-container table tbody tr td:nth-child(5){
    width: 30%;
    word-break: break-all;
}

.showPatients .table-container table tbody tr td button {
    background-color: #284360;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: clamp(11px, calc(1.6vw + 0.5vw), 17px);
}

.showPatients .table-container table tbody tr td button:hover {
    background-color: #1b2c3f;
}

.showPatients #page-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.showPatients #page-numbers li {
    list-style: none;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    color: #284360;
    padding: 5px 10px;
    transition: all 0.3s ease-in-out;
}

.showPatients #page-numbers li:hover {
    color: #1b2c3f;
}