header {
    text-align: center;
    border-bottom: solid 1px grey;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0px;
}

ul li{
    display: inline;
    text-align: center;
    padding: 2px ;
    margin: 30px;
    width: 19%;
}

a {
    text-decoration: none;
    color: black;
}